*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background: #94a0d8;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 600px;
    height: 500px;
    background: #f2f2f2;
    border: 2px solid #000;
    outline: 2px solid #000;
    outline-offset: 10px;
}

.lang-container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-container a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 20px 0 20px;
    font-weight: bold;
    background: #888;
}

.lang-container a:hover{
    background: #707070;
}

.lang-container a.active{
    background: #03bbc2;
    border: 2px solid #000;
    color: #000;
}

.content{
    margin: 50px 20px 0 20px;
}

.content h2{
    margin-bottom: 20px;
}

.content p{
    text-align: justify;
    line-height: 1.5;
    font-weight: 500;
}